* {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
}

body {
    background-image: url(https://i.pinimg.com/originals/06/e4/9f/06e49ff7f0eb4f7306d8f64e5d81ab6c.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: absolute;  
}

h1 {
    margin: 5px;
}

p {
    margin: 5px;
}

.bounty-container {
    display: flex;
    flex-direction: column;
    margin: 0 32px;
    position: absolute;
    top: 80px;
    right: 0;
}

.bounty {
    border: 1px solid black;
    border-radius: 50%;
    padding: 15px;
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
    align-content: center;
    text-align: center;
}

.header{
    font-size: 36px;
    margin-top: 5px;
    text-align: right;
    margin-right: 270px;
    margin-top: 20px;
}

.edit-btn {
    font-size: 10px;
    margin: 5px;
}

.delete-btn {
    font-size: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 5px;
}

button {
    padding: 5px;
    border-radius: 4px;
    font-size: 16px;
}

